@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@theme {
  --color-primary: #021526;
  --color-secondary: #03346E;
  --color-medium: #697565;
  --color-lighter: #ECDFCC;
  --font-roboto: "Roboto", sans-serif; 
  --font-Tinos: "Tinos", sans-serif; 
}